<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:t="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:composite = "http://java.sun.com/jsf/composite">


    <composite:interface>
        <composite:attribute name = "selectWallet" />
        <composite:attribute name = "selectCategory" />
        <composite:attribute name = "selectDateFrom" />
        <composite:attribute name = "selectDateTo" />
        <composite:attribute name = "table" />
    </composite:interface>

    <composite:implementation>
        <div class="row">
            <div class="col-md-3">
                <h:outputLabel for="wallet">Peněženka</h:outputLabel>
            </div>

            <div class="col-md-3">
                <h:outputLabel for="category">Kategorie</h:outputLabel>
            </div>

            <div class="col-md-3">
                <h:outputLabel for="dateFrom">Od</h:outputLabel>
            </div>

            <div class="col-md-3">
                <h:outputLabel for="dateTo">Do</h:outputLabel>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <h:selectOneMenu id="wallet" class="form-control" value="#{cc.attrs.selectWallet}" converter="#{wallet.getWalletConverter()}">
                    <f:selectItems value="#{wallet.wallets}" var="cust" itemLabel="#{cust.name}"  />
                </h:selectOneMenu>
            </div>

            <div class="col-md-3">
                <h:selectOneMenu id="category" class="form-control" value="#{cc.attrs.selectCategory}" converter="#{category.categoryConverter}">
                    <f:selectItems value="#{category.show()}" var="cust" itemLabel="#{cust.name}"  />
                    <f:selectItem itemValue="#{null}" itemLabel="" 
                                  noSelectionOption="true"/>
                </h:selectOneMenu>
            </div>

            <div class="col-md-3">
                <h:inputText t:type="date" id="dateFrom" class="form-control" value="#{cc.attrs.selectDateFrom}" >
                    <f:convertDateTime pattern="yyyy-MM-dd"/> 
                </h:inputText>

            </div>

            <div class="col-md-3">
                <h:inputText t:type="date" id="dateTo" class="form-control" value="#{cc.attrs.selectDateTo}" >
                    <f:convertDateTime pattern="yyyy-MM-dd"/>  
                </h:inputText>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h:commandButton value="Filtrovat" class="btn btn-primary float-right">
                    <f:ajax execute=" @all" render="@form" />
                </h:commandButton>
            </div>
        </div>


    </composite:implementation>
</html>

