<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite = "http://java.sun.com/jsf/composite">


    <composite:interface>
        <composite:attribute name = "headerLabel" />
        <composite:attribute name = "insertAction" method-signature="java.lang.String insert()"/>
        <composite:attribute name = "showAddButton" default="true"/>
    </composite:interface>

    <composite:implementation>
        <div class="row header">
            <div class="col-md-3"></div>
            <div class="col-md-6"> <h2 class="text-center">#{cc.attrs.headerLabel}</h2></div>
            <div class="col-md-3 ">
                <h:form>
                    <h:commandLink class="btn btn-success btn-circle btn-lg float-right" action="#{cc.attrs.insertAction}" rendered="#{cc.attrs.showAddButton}"><img src="resources/img/ic_add.svg" alt="add" /></h:commandLink>
                </h:form>
            </div>
        </div>

    </composite:implementation>
</html>

