<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite = "http://java.sun.com/jsf/composite">
    <composite:interface>
        <composite:attribute name = "goBack" />
        <composite:attribute name = "saveAction" method-signature="java.lang.String saveForm()"/>
    </composite:interface>

    <composite:implementation>
        <div class="row">
            <div class="col-md-6">
                <a href="#{cc.attrs.goBack}" class="btn btn-secondary btn-block btn-group-edit">Zrušit</a>
            </div>
            <div class="col-md-6">
                <h:commandButton value="Uložit" action="#{cc.attrs.saveAction}" class="btn btn-primary btn-block btn-group-edit"></h:commandButton>
            </div>
        </div>
    </composite:implementation>
</html>

