<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition template="./templates/master-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:hc = "http://java.sun.com/jsf/composite/components">
    <ui:define name="top">
        <ui:include src="./templates/page-header.xhtml "/>
    </ui:define>

    <ui:define name="content">
        <hc:headerComponent headerLabel="Kategorie" insertAction="#{category.insert()}"/>
        <h:form>
            <h:dataTable styleClass="table" value="#{category.show()}" var="c">
                <h:column>
                    <f:facet name="header">Název</f:facet>
                        #{c.name}
                </h:column>

                <h:column>
                    <f:facet name="header">Akce</f:facet>
                    <h:commandLink class="btn btn-danger btn-circle"  
                                   onclick="if (!deleteRow('Opravdu chcete smazat kategorii #{c.name} a s ní všechny záznamy?'))
                                               return false;"
                                   action="#{category.delete(c)}">
                        <img src="resources/img/ic_delete.svg" alt="delete" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-info btn-circle" 
                                   action="#{category.edit(c)}">
                        <img src="resources/img/ic_edit.svg" alt="edit" />
                    </h:commandLink>
                </h:column>
            </h:dataTable>
        </h:form>


    </ui:define>

</ui:composition>


