<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition template="./templates/master-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:sc = "http://java.sun.com/jsf/composite/components">
    <ui:define name="top">
        <ui:include src="./templates/page-header.xhtml "/>
    </ui:define>

    <ui:define name="content">
        <h:form class="form-edit">   
            <h:inputHidden id="cat" value="#{category.category}" converter="#{category.categoryConverter}" />
            <h:inputHidden id="insertAction" value="#{category.insertAction}" />

            <c:if test="#{category.insertAction}">
                <h2>Přidání kategorie</h2>
            </c:if>

            <c:if test="#{not category.insertAction}">
                <h2>Úprava kategorie</h2>
            </c:if>

            <h:outputLabel for="categoryName">Název</h:outputLabel>
            <h:inputText id="categoryName" class="form-control" value="#{category.categoryName}" pt:required="required" />

            <sc:saveComponent goBack="categories.xhtml" saveAction="#{category.saveForm()}" />

        </h:form>
    </ui:define>            
</ui:composition>


