<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
        <h:outputStylesheet name="welcome.css" library="css"></h:outputStylesheet>
        <title>Finanční deník</title>
    </h:head>
    <h:body>
        <div class="container text-center">
            <h1>MŮJ FINANČNÍ DENÍK</h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Circle-icons-money.svg" class="img-responsive" width="400" height="300" alt="Money" />
            <h4 class="text-center text-justify">Zaznamenejte každý svůj provedený výdaj nebo příjem a mějte tak k dispozici užitečný nástroj, díky kterému neztratíte přehled o svých financích.</h4>

            <div class="row center">
                <div class="col-md-6"><a href="login.xhtml" class="btn btn-light btn-lg btn-margin" role="button">Přihlásit se</a></div>
                <div class="col-md-6"><a href="register.xhtml" class="btn btn-light btn-lg btn-margin" role="button">Vytvořit účet</a></div>
            </div>        

        </div>
    </h:body>
</html>

