<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
        <h:outputStylesheet name="signin.css" library="css"></h:outputStylesheet>
        <h:outputStylesheet name="styles.css" library="css"></h:outputStylesheet>
        <title>Finanční deník</title>
    </h:head>
    <h:body>
        <c:if test="#{activeSession.user != null}">
            #{login.redirect()}
        </c:if>

        <c:if test="#{activeSession.user == null}">
            <div class="container">
                <div class="login-wrapper">
                    <h:form class="form-signin">
                        <h2 class="form-signin-heading">Přihlásit</h2>
                        <label for="loginName" >Přihlašovací jméno:</label>
                        <h:inputText class="form-control" id="loginName" value="#{login.loginName}" binding="#{loginComponent}" required="required"/>
                        <label for="passwordL">Heslo:</label>
                        <h:inputSecret  class="form-control" id="passwordL" validator="#{loginValidator.validate}" value="#{login.password}" required="required">

                            <f:attribute name="loginComponentBinding" value="#{loginComponent}" />
                        </h:inputSecret>
                        <h:messages class="login-message" />

                        <h:commandButton class="btn btn-lg btn-block btn-sign" value="Přihlásit" action="#{login.login()}" type="submit"></h:commandButton >
                    </h:form>
                </div> <!-- /login-wrapper -->
            </div> <!-- /-->
        </c:if>
    </h:body>
</html>

