<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition template="./templates/master-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:t="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:sc = "http://java.sun.com/jsf/composite/components">
    <ui:define name="top">
        <ui:include src="./templates/page-header.xhtml "/>
    </ui:define>

    <ui:define name="content">
        <h:form class="form-edit">   
            <h:inputHidden id="cat" value="#{record.record}" converter="#{record.recordConverter}" />
            <h:inputHidden id="insertAction" value="#{record.insertAction}" />

            <c:if test="#{record.insertAction}">
                <h2>Přidání záznamu</h2>
            </c:if>

            <c:if test="#{not record.insertAction}">
                <h2>Úprava záznamu</h2>

            </c:if>

            <h:outputLabel for="note">Název</h:outputLabel>
            <h:inputText t:type="text" id="note" class="form-control" value="#{record.note}"  />

            <h:outputLabel for="value">Částka</h:outputLabel>
            <h:inputText t:type="number" t:min="1" id="value" class="form-control" value="#{record.value}" t:required="required" />

            <h:outputLabel for="date">Datum</h:outputLabel>
            <h:inputText t:type="date" id="date" class="form-control" value="#{record.date}" t:required="required" >

                <f:convertDateTime pattern="yyyy-MM-dd"/>  
            </h:inputText>

            <h:outputLabel rendered="#{record.insertAction}" for="wallet">Peněženka</h:outputLabel>

            <h:selectOneMenu id="wallet" rendered="#{record.insertAction}" class="form-control" value="#{record.wallet}" converter="#{wallet.getWalletConverter()}" t:required="required">
                <f:selectItems value="#{wallet.wallets}" var="cust" itemLabel="#{cust.name}"  />
            </h:selectOneMenu>



            <h:outputLabel for="category">Kategorie</h:outputLabel>
            <h:selectOneMenu id="category" class="form-control" value="#{record.category}" converter="#{category.categoryConverter}" t:required="required">
                <f:selectItems value="#{category.show()}" var="cust" itemLabel="#{cust.name}"  />
            </h:selectOneMenu>

            <h:outputLabel for="type">Typ</h:outputLabel>
            <h:selectOneMenu id="type" class="form-control" value="#{record.type}" converter="#{record.recordTypeConverter}" t:required="required">
                <f:selectItems value="#{record.recordTypes}" var="c" itemLabel="#{c.name}"  />
            </h:selectOneMenu>

            <sc:saveComponent goBack="records.xhtml" saveAction="#{record.saveForm()}" />
        </h:form>

    </ui:define>            
</ui:composition>

