<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition template="./templates/master-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:t="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:hc = "http://java.sun.com/jsf/composite/components">
    <ui:define name="top">
        <ui:include src="./templates/page-header.xhtml "/>
    </ui:define>

    <!-- bezny obsah -->
    <ui:define name="content">
        <hc:headerComponent headerLabel="Záznamy" insertAction="#{record.insert()}" />

        <h:form id="myForm">
            <hc:filterComponent selectCategory="#{record.selectedCategory}"
                                selectWallet="#{record.selectedWallet}"
                                selectDateFrom="#{record.selectedDateFrom}"
                                selectDateTo="#{record.selectedDateTo}"
                                table="myTable"/>


            <h:dataTable id="myTable"  styleClass="table" value="#{record.records}" var="w">
                <h:column>
                    <f:facet name="header">Název</f:facet>
                        #{w.note}
                </h:column>

                <h:column>
                    <f:facet name="header">Částka</f:facet>
                        #{w.operation.operation} #{w.value}  #{w.wallet.currency.code}
                </h:column>

                <h:column>
                    <f:facet name="header">Datum</f:facet>
                        #{w.formattedDate}
                </h:column>

                <h:column>
                    <f:facet name="header">Kategorie</f:facet>
                        #{w.category.name}
                </h:column>

                <h:column>
                    <f:facet name="header">Akce</f:facet>
                    <h:commandLink class="btn btn-danger btn-circle" 
                                   action="#{record.delete(w)}" 
                                   onclick="if (!deleteRow('Opravdu chcete smazat tento záznam?'))
                                               return false;">
                        <img src="resources/img/ic_delete.svg" alt="delete" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-info btn-circle " 
                                   action="#{record.edit(w)}">
                        <img src="resources/img/ic_edit.svg" alt="edit" />
                    </h:commandLink>
                </h:column>

            </h:dataTable>
        </h:form>


    </ui:define>

</ui:composition>


