<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
        <h:outputStylesheet name="signin.css" library="css"></h:outputStylesheet>
        <h:outputStylesheet name="styles.css" library="css"></h:outputStylesheet>
        <title>Finanční deník</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="login-wrapper">
                <h:form class="form-signin">
                    <h2 class="form-signin-heading">Registrace</h2>

                    <label for="loginName">Přihlašovací jméno</label>
                    <h:inputText class="form-control" id="loginName" value="#{register.loginName}"
                                 required="required" 
                                 validator="#{uniqueLoginValidator.validate}"
                                 />

                    <h:outputLabel for="mail">Email</h:outputLabel>
                    <h:inputText id="mail"  class="form-control" value="#{register.mail}" required="required"/>

                    <h:outputLabel for="firstName">Jméno</h:outputLabel>
                    <h:inputText id="firstName" class="form-control" value="#{register.firstName}" required="required"/>

                    <h:outputLabel for="secondName">Příjmení</h:outputLabel>
                    <h:inputText id="secondName" class="form-control" value="#{register.secondName}" required="required"/>

                    <h:outputLabel for="password">Heslo</h:outputLabel>
                    <h:inputSecret id="password" class="form-control" value="#{register.password}"
                                   binding="#{passwordComponent}" required="required">
                        <f:validator validatorId="passwordStrengthValidator" />
                    </h:inputSecret>    

                    <h:outputLabel for="confirmPassword">Heslo znovu</h:outputLabel>
                    <h:inputSecret id="confirmPassword" class="form-control" value="#{register.confirmPassword}" required="required">
                        <f:validator validatorId="confirmPasswordValidator" />
                        <f:attribute name="passwordComponentBinding" value="#{passwordComponent}" />
                    </h:inputSecret>
                    <h:messages class="login-message" />
                    <h:commandButton class="btn btn-lg btn-block btn-sign" type="submit" value="Registrovat se" action="#{register.submit()}"/>
                </h:form>
            </div> <!-- /login-wrapper -->
        </div> <!-- /-->
    </h:body>
</html>