<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition template="./templates/master-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:hc = "http://java.sun.com/jsf/composite/components"
                xmlns:t="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="top">
        <ui:include src="./templates/page-header.xhtml "/>
    </ui:define>

    <!-- bezny obsah -->
    <ui:define name="content"  >

        <hc:headerComponent headerLabel="Přehled" insertAction="#{todo}" showAddButton="false" />
        <h:form>

            
            <hc:filterComponent selectCategory="#{summary.selectCategory}"
                                selectWallet="#{summary.selectWallet}"
                                selectDateFrom="#{summary.dateFrom}"
                                selectDateTo="#{summary.dateTo}"
                                table="myTable"/>

            <div class="row" style="margin-top: 20px;">
                <div class="col-md-6">
                    <div class="myTable">
                        <h5 class="text-center" style="padding: 10px 0 10px 0;">#{summary.selectWallet.name}</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Kategorie</th>
                                    <th>Výdaje</th>
                                    <th>Příjmy</th>
                                    <th>Bilance</th>
                                </tr>
                            </thead>
                            <ui:repeat value="#{summary.categoriesSummary.entrySet().toArray()}" var="entry">
                                <tr>
                                    <td>#{entry.key.name}</td>
                                    <ui:repeat value="#{entry.value}" var="r">
                                        <td>#{r} #{summary.selectWallet.currency.code}</td>
                                    </ui:repeat>
                                    <td>#{summary.getListSum(entry.value)} #{summary.selectWallet.currency.code}</td>
                                </tr>
                            </ui:repeat>
                            <tr  style="border-top: 2px solid black">
                                <td></td>
                                <td></td>
                                <td>Celkem:</td>
                                <td>#{summary.walletBalanceByCategory()} #{summary.selectWallet.currency.code}</td>
                            </tr>

                        </table>

                    </div>
                </div>
                <div class="col-md-6">
                    <div id="chart"></div>
                    <h:outputScript rendered="true">
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(drawChart);

                        // Draw the chart and set the chart values
                        function drawChart() {
                        var data = google.visualization.arrayToDataTable([
                        ['Task', 'Hours per Day'],
                        ['Příjmy', #{summary.income}],
                        ['Výdaje', #{summary.expenses}]
                        ]);

                        // Optional; add a title and set the width and height of the chart
                        var options = {};


                        var chart = new google.visualization.PieChart(document.getElementById('chart'));
                        chart.draw(data, options);
                        }
                    </h:outputScript>

                </div>


            </div>


        </h:form>
    </ui:define>
</ui:composition>


