<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition template="./templates/master-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:hc = "http://java.sun.com/jsf/composite/components">
    <ui:define name="top">
        <ui:include src="./templates/page-header.xhtml "/>
    </ui:define>

    <ui:define name="content">
        <hc:headerComponent headerLabel="Peněženky" insertAction="#{wallet.insert}" />

        <h:form>
            <h:dataTable id="myTable" columnClasses="text-justify" styleClass="table" value="#{wallet.wallets}" var="w">
                <h:column>
                    <f:facet name="header">Název</f:facet>
                        #{w.name}
                </h:column>

                <h:column>
                    <f:facet name="header">Zůstatek</f:facet>
                        #{w.balance}
                </h:column>

                <h:column>
                    <f:facet name="header">Měna</f:facet>
                        #{w.currency.code}
                </h:column>

                <h:column>
                    <f:facet name="header">Akce</f:facet>
                    <h:commandLink class="btn btn-danger btn-circle" 
                                   action="#{wallet.delete(w)}" 
                                   onclick="if (!deleteRow('Opravdu chcete smazat peněženku #{w.name} a s ní všechny záznamy?'))
                                               return false;">
                        <img src="resources/img/ic_delete.svg" alt="delete" />
                    </h:commandLink>
                    <h:commandLink class="btn btn-info btn-circle " 
                                   action="#{wallet.edit(w)}">
                        <img src="resources/img/ic_edit.svg" alt="edit" />
                    </h:commandLink>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>
</ui:composition>


