<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition template="./templates/master-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:sc = "http://java.sun.com/jsf/composite/components"
                xmlns:jsf="http://java.sun.com/jsf" >
    <ui:define name="top">
        <ui:include src="./templates/page-header.xhtml "/>
    </ui:define>

    <ui:define name="content">
        <h:form class="form-edit"> 
            <h:inputHidden id="wallet" value="#{wallet.wallet}" converter="#{wallet.walletConverter}" />
            <h:inputHidden id="insertAction" value="#{wallet.insertAction}" />

            <c:if test="#{wallet.insertAction}">
                <h2>Přidání peněženky</h2>
            </c:if>

            <c:if test="#{not wallet.insertAction}">
                <h2>Úprava peněženky</h2>
            </c:if>

            <h:outputLabel for="name">Název</h:outputLabel>
            <h:inputText id="name" class="form-control" value="#{wallet.name}"  pt:required="required" />

            <h:outputLabel for="balance" rendered="#{wallet.insertAction}">Zůstatek</h:outputLabel>

            <h:inputText id="balance" class="form-control" 
                         value="#{wallet.balance}" 
                         pt:required="required"  
                         pt:type="number"
                         rendered="#{wallet.insertAction}"/>

            <h:outputLabel for="currency">Měna</h:outputLabel>
            <h:selectOneMenu id="currency" class="form-control" value="#{wallet.currency}" converter="#{wallet.currencyConverter}">
                <f:selectItems value="#{wallet.currencies}" var="cust" itemLabel="#{cust.code}"  />
            </h:selectOneMenu>

            <sc:saveComponent goBack="wallets.xhtml" saveAction="#{wallet.saveForm()}" />

        </h:form>

    </ui:define>            




</ui:composition>


