body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

.login-wrapper {
    background-color: #fff;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    height:100%;
    border-radius: 5px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: 10px;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;

}

.btn-sign {
    background-color: #1abc9c;
    color: #fff;
}
