body{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.5rem;
}

.btn-group-edit{
    margin-top: 20px;
}

.login-message{
    padding: 0;
    list-style-type: none;
}

.login-message li{
    color: red;
    font-size: 0.9em;
}

.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 0px 5px 0 5px ;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 0 auto;
    padding-top: 12px;

    border: 0px solid;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.table{
    padding-top: 30px;
}

.center{
    margin: 0 auto;
    max-width: 330px;
}

.header {
    margin: 10px 0 10px 0;
}


.form-edit {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-edit input{
    margin-bottom: 10px;
}


