body {
    background-color: #1abc9c;
    font-family: 'Lato', sans-serif;
}

h1, h4{
    color:white;
    padding-top: 3%;
}

h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 5rem;
}


.center{
    margin: 0 auto;
    max-width: 330px;
}

.btn-margin {
    margin-top: 20px;
}

