<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <div class="container">
            <a class="navbar-brand" href="#">MŮJ FINANČNÍ DENÍK</a>

            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link #{view.viewId == '/summary.xhtml' ? 'active' : ''} " href="summary.xhtml">Přehled</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link #{view.viewId == '/records.xhtml' ? 'active' : ''}" href="records.xhtml">Záznamy</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link #{view.viewId == '/wallets.xhtml' ? 'active' : ''}" href="wallets.xhtml">Peněženky</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link #{view.viewId == '/categories.xhtml' ? 'active' : ''}" href="categories.xhtml">Kategorie</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        #{activeSession.user.toString()}
                    </a>
                    <div class="dropdown-menu">
                        <h:form><h:commandLink class="dropdown-item" action="#{login.logout()}" value="Odhlásit se" /></h:form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</ui:composition>
